* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

#map {
    height: 600px;
    width: 700px;
    display: inline-block;
}
#canvas > canvas {
    border: 1px solid black
}

#options {
    text-align: left;
    display: inline-block
}

#options > div {
    background-color: rgb(221, 221, 221);
    padding: 10px;
    margin: 10px;
}

#options input {
    margin: 5px;
}

#buttons {
    text-align: center;
}

progress {
    width: calc(100% - 20px);
    height: 1em;
    border-radius: 0.1em;
    margin: 0 10px 10px;
}

progress::-webkit-progress-bar {
    background-color: rgb(221, 221, 221);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }